<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="study.jokelibrary">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="study.jokelibrary.JokeActivity"
            android:label="@string/title_activity_joke"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>